<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sonicremote - Audio Files</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}"> 
        <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>

        <!-- Nav area/Header -->
        <nav>
            <div>
                <p class="title">sonic remote</p>
                <p class="subtitle">audio files</p>
            </div>
        </nav>

        <!-- this is really neat! 
            https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->

        <!-- Thought showing path files are shown from could be useful -->
        <article>
            <p>Displaying files from: <br><span>/insert/path/here/</span></p>
        </article>

        <hr>

        <!-- The grid of files, a lot of CSS for the anchor tag... -->
        <section class="file-grid">
        {% for file in files %}    
        <a class="file-name" href='play/{{ file.id }}'><span><i class="fas fa-play"></i><br></span>{{ file.name }}</a>
        {% endfor %}
        </section>
    </body>
</html>